doctype html
html
    head
        title Index Page 
    body
        // JADE String
        //#header
            //h1 Hello Jade 
            //h2 Lorem ipsum 
        h1 #{name}..!
        h2= description
        hr
        //.article
        - for(var i=0;i<10;i++) {
            p 
                a(href="http://hanbit.co.kr", data-test="multiple Attribute") Go To Hanbit Media #{i}
        - }
        