<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
<style>
	a { text-decoration: none; color : black;}
</style>
</head>
<body>
	<h2>인덱스 페이지</h2>
	
	<a href="member">회원 가입 |</a> 
	<a href="list">회원 목록 |</a>
	<a href="update">회원 수정 |</a>
	<a href="delete">회원 삭제 |</a>
    <% if(data) { %> 
	<a href="login">로그인 | </a>
    <% } else { %> 
	<a href="logout">로그아웃 | </a>
    <% } %> 
</body>
</html>